body {
  color: deeppink;
  font-family: Arial, Helvetica, sans-serif;
}
.site-header{
  background-color: tomato;
  padding: 2rem;
  color: navajowhite;
}
article {
  background-color: lightgray;
  padding: 2rem;
}
footer {
  background-color: darksalmon;
  padding: 3rem;
}
ul {
  list-style: none;
}
a{
  color: inherit;
}
ul li a {
  color: rgb(61, 61, 61);
}
